* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    /* Elimina márgenes predeterminados */
    padding-top: 80px;
    /* Ajusta según la altura del header para que el contenido no quede oculto */
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Asegura que ocupe todo el ancho */
    background-color: #252728;
    /* O el color que estés usando para el header */
    z-index: 1000;
    /* Usa un valor alto para asegurarte de que esté por encima de otros elementos */
    padding: 0 50px;
    height: 80px;
    /* O el alto que prefieras */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 25px;
    /* Ajusta el tamaño de la imagen */
    width: auto;
    /* Mantén la proporción de la imagen */
}

.help {
    margin-right: 50px;
}

.help img {
    height: 30px;
    width: auto;
}

.helpPantalla {
    margin-right: 50px;
    display: none;
}

.helpPantalla img {
    height: 30px;
    width: auto;
}

.bars {
    display: none;
}

.nav-bar {
    flex: 1;
    /* Ocupa el espacio restante */
    display: flex;
    justify-content: center;
    /* Centra los elementos en la barra */
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 15px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #212127;
    background-color: #D9D9D9;
}

.modelosMenu {
    display: none;
    position: absolute;
    top: 80px;
    /* Coloca la barra justo debajo de la barra de navegación */
    left: 0;
    right: 0;
    background-color: #EFEFEF;
    padding: 10px;
    border: 1px sólido #ccc;
    animation: slideDown 0.8s forwards;
    z-index: 5;
    /* Asegura que el menú esté detrás de la barra de navegación */
    text-align: center;
    /* Centra el contenido */
}

.modelosMenu .radio-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px auto;
    color: #000;
    background-color: #EFEFEF;
    cursor: pointer;
    height: 45px;
    text-align: center;
}

.modelosMenu .radio-button.selected {
    border-bottom: 3px solid #000;
    /* Añade una barra debajo del texto */
}

.modelosMenu .radio-button.selected {
    border-bottom: 3px solid #000;
    /* Añade una barra debajo del texto */
}

.modelosMenu.show {
    display: block;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.modelosMenu .radio-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px auto;
    /* Asegura que los botones se centren horizontalmente */
    color: #000;
    background-color: #EFEFEF;
    cursor: pointer;
    height: 45px;
    text-align: center;
    /* Centra el texto dentro del botón */
}


input[type="radio"]:checked+label {
    background-color: #EFEFEF;
    border-bottom: 1px sólido #000;
    border-width: 5px;
    color: #000;
}

.option-image {
    display: flex;
    margin: 10px auto;
    width: 300px;
    /* Ancho fijo de la imagen */
    height: 200px;
    /* Alto fijo de la imagen */
    cursor: pointer;
    object-fit: cover;
    /* Ajusta la imagen para que cubra todo el contenedor */
    transition: transform 0.3s ease-in-out;
    /* Transición suave de 0.3 segundos */
}

.option-image:hover {
    transform: scale(1.1);
    /* Aplica un zoom del 10% */
}


@media(max-width:900px) {
    header {
        padding: 0px 30px;
    }

    .help {
        display: none;
    }

    .helpPantalla {
        display: block;
    }

    .bars {
        display: block;
        cursor: pointer;
        float: right;
    }

    .bars .line {
        width: 30px;
        height: 3px;
        background-color: #FFFFFF;
        margin: 6px 0px;
    }

    .nav-bar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #2e2f34;
        transition: 0.5s;
        overflow: auto;
        max-height: 200vh;
    }

    .nav-bar.active {
        height: calc(100vh - 80px);
        /* Mantiene el menú completo visible */
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 40px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 20px;
    }
}

.main {
    background: #acacac;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
}

.section {
    background-image: url('/Configuracion/Dolphin/DAmarillo1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 70%;
    height: 100%;
}

.aside {
    background: rgb(255, 255, 255);
    width: 30%;
    height: 100%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}

.aside h1 {
    margin-bottom: 20px;
}

.aside h2 {
    margin-bottom: 20px;
}

#controls {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    /* Reducir margen para acercar los botones de colores */
}

#controls button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #c0c0c7;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}


#controls button:hover {
    background-color: #000000e6;
    transform: scale(1.05);
    color: #FFFFFF;
}

#options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}

#colorOptions,
#interiorOptions {
    display: flex;
    /* Asegura que los botones estén en fila */
    justify-content: center;
    position: relative;
    gap: 20px;
}

#colorOptions button,
#interiorOptions button {
    width: 40px;
    height: 40px;
    margin: 0 20px;
    /* Aumenta la separación entre los botones */
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
    position: relative;
    background-color: transparent;
    /* Para evitar conflictos con colores de fondo */
}

#colorOptions button:hover,
#interiorOptions button:hover {
    transform: scale(1.2);
    /* Aumenta el tamaño al pasar el ratón por encima */
}

#colorOptions button:nth-child(1) {
    background-color: #ddcfc1;
    /* Cheese Yellow */
}

#colorOptions button:nth-child(2) {
    background-color: #a8889e;
    /* Afterglow Pink */
}

#colorOptions button:nth-child(3) {
    background-color: #65727b;
    /* Dolphin Grey */
}

#interiorOptions button:nth-child(1) {
    background-color: #c3b6aa;
    /* Boba Brown */
}

#interiorOptions button:nth-child(2) {
    background-color: #967d98;
    /* Angel Pink */
}

#interiorOptions button:nth-child(3) {
    background-color: #697681;
    /* Mark Orange */
}

#colorOptions button span,
#interiorOptions button span {
    position: absolute;
    top: 50px;
    /* Coloca el texto debajo del botón */
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    text-align: center;
    font-size: 12px;
    color: #000;
    visibility: hidden;
}

#colorOptions button:hover span,
#interiorOptions button:hover span {
    visibility: visible;
}


#options img {
    width: 50px;
    height: auto;
}

.price {
    font-weight: bold;
    margin-bottom: 20px;
}

@media(max-width: 600px) {

    #controls {
        flex-direction: row;
        /* Cambia la dirección del flex a fila en pantallas pequeñas */
        flex-wrap: wrap;
        /* Permite que los botones envuelvan si no caben en una línea */
        justify-content: center;
        /* Asegura que los botones estén centrados */
    }

    #controls button {
        margin: 10px 0;
    }
}

@media(max-width: 700px) {
    .main {
        flex-direction: column;
    }

    .section {
        width: 100%;
        height: 50%;
    }

    .aside {
        width: 100%;
        height: 50%;
    }
}