* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    /* Elimina márgenes predeterminados */
    padding-top: 80px;
    /* Ajusta según la altura del header para que el contenido no quede oculto */
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Asegura que ocupe todo el ancho */
    background-color: #252728;
    /* O el color que estés usando para el header */
    z-index: 1000;
    /* Usa un valor alto para asegurarte de que esté por encima de otros elementos */
    padding: 0 50px;
    height: 80px;
    /* O el alto que prefieras */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 25px;
    /* Ajusta el tamaño de la imagen */
    width: auto;
    /* Mantén la proporción de la imagen */
}

.help {
    margin-right: 50px;
}

.help img {
    height: 30px;
    width: auto;
}

.helpPantalla {
    margin-right: 50px;
    display: none;
}

.helpPantalla img {
    height: 30px;
    width: auto;
}

.bars {
    display: none;
}

.nav-bar {
    flex: 1;
    /* Ocupa el espacio restante */
    display: flex;
    justify-content: center;
    /* Centra los elementos en la barra */
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 15px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #212127;
    background-color: #D9D9D9;
}

.modelosMenu {
    display: none;
    position: absolute;
    top: 80px;
    /* Coloca la barra justo debajo de la barra de navegación */
    left: 0;
    right: 0;
    background-color: #EFEFEF;
    padding: 10px;
    border: 1px sólido #ccc;
    animation: slideDown 0.8s forwards;
    z-index: 5;
    /* Asegura que el menú esté detrás de la barra de navegación */
    text-align: center;
    /* Centra el contenido */
}

.modelosMenu .radio-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px auto;
    color: #000;
    background-color: #EFEFEF;
    cursor: pointer;
    height: 45px;
    text-align: center;
}

.modelosMenu .radio-button.selected {
    border-bottom: 3px solid #000;
    /* Añade una barra debajo del texto */
}

.modelosMenu .radio-button.selected {
    border-bottom: 3px solid #000;
    /* Añade una barra debajo del texto */
}

.modelosMenu.show {
    display: block;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.modelosMenu .radio-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px auto;
    /* Asegura que los botones se centren horizontalmente */
    color: #000;
    background-color: #EFEFEF;
    cursor: pointer;
    height: 45px;
    text-align: center;
    /* Centra el texto dentro del botón */
}


input[type="radio"]:checked+label {
    background-color: #EFEFEF;
    border-bottom: 1px sólido #000;
    border-width: 5px;
    color: #000;
}

.option-image {
    display: flex;
    margin: 10px auto;
    width: 300px;
    /* Ancho fijo de la imagen */
    height: 200px;
    /* Alto fijo de la imagen */
    cursor: pointer;
    object-fit: cover;
    /* Ajusta la imagen para que cubra todo el contenedor */
    transition: transform 0.3s ease-in-out;
    /* Transición suave de 0.3 segundos */
}

.option-image:hover {
    transform: scale(1.1);
    /* Aplica un zoom del 10% */
}


@media(max-width:900px) {
    header {
        padding: 0px 30px;
    }

    .help {
        display: none;
    }

    .helpPantalla {
        display: block;
    }

    .bars {
        display: block;
        cursor: pointer;
        float: right;
    }

    .bars .line {
        width: 30px;
        height: 3px;
        background-color: #FFFFFF;
        margin: 6px 0px;
    }

    .nav-bar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #2e2f34;
        transition: 0.5s;
        overflow: auto;
        max-height: 200vh;
    }

    .nav-bar.active {
        height: calc(100vh - 80px);
        /* Mantiene el menú completo visible */
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 40px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 20px;
    }
}

/*CONFIGURACION ACERCA DE NOSOTROS*/

section {
    min-height: calc(100vh - 80px);
    /* Ajusta a la altura del viewport menos la del header */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Puede que necesites cambiar a 'relative' si usas 'absolute' en los hijos */
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteiner {
    flex-direction: column;
    min-height: 100vh;
    /* Ocupa el 100% de la altura visible del viewport */
    position: relative;
    overflow: hidden;
    /* Asegura que el contenido extra no desborde */
    margin-top: -80px;
    /* Compensa el espacio ocupado por el header fijo */
    padding-top: 80px;
    /* Mantiene el espacio para el header */
    display: flex;
    align-items: stretch;
}

.two {
    background-image: url('/Images/about2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    /* Asegura que la sección ocupe todo el ancho */
}

.two div {
    background-color: rgba(0, 0, 0, 0.75);
    /* Fondo negro con opacidad del 50% */
    color: white;
    /* Texto de color blanco */
    padding: 20px;
    /* Espacio alrededor del texto */
    border-radius: 10px;
    /* Bordes redondeados para el recuadro */
    max-width: 60%;
    /* Máximo ancho del recuadro */
    text-align: center;
    /* Centra el texto horizontalmente */
}

.two h2 {
    font-size: 2.5rem;
    /* 32px */
}

.two p {
    font-size: 1.5rem;
    /* 16px */
}


.three {
    background-image: url('/Images/about6.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.three div {
    background-color: rgba(0, 0, 0, 0.75);
    /* Fondo negro con opacidad del 50% */
    color: white;
    /* Texto de color blanco */
    padding: 20px;
    /* Espacio alrededor del texto */
    border-radius: 10px;
    /* Bordes redondeados para el recuadro */
    max-width: 60%;
    /* Máximo ancho del recuadro */
    text-align: center;
    /* Centra el texto horizontalmente */
}

.mision,
.vision {
    background-color: rgba(0, 0, 0, 0.5);
    /* Color de fondo con transparencia */
    color: white;
    /* Color de texto */
    padding: 20px;
    /* Espacio interno para darle aire al contenido */
    width: 100%;
    /* Ocupa todo el ancho disponible */
    box-sizing: border-box;
    /* Incluye padding y border en el ancho total */
    margin: 50px 0;
    /* Añade un poco de espacio vertical entre los divs */
    text-align: justify;
    /* Alineación del texto */
}

.three h2 {
    font-size: 2rem;
    /* 32px */
}

.three p {
    font-size: 1.4rem;
    /* 16px */
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
        /* Reduce el tamaño base en dispositivos más pequeños */
    }

    .two h2 {
        font-size: 1.5rem;
        /* 21px en dispositivos pequeños */
    }

    .two p {
        font-size: 1.1rem;
        /* 12.25px en dispositivos pequeños */
    }

    .three h2 {
        font-size: 1.3rem;
        /* 21px en dispositivos pequeños */
    }

    .three p {
        font-size: 0.9rem;
        /* 12.25px en dispositivos pequeños */
    }
}